.img-cont-expert {
    margin: auto;
    height: 90%;
}

.container {
    display: flex;
    width: 90vw;
    width: 70vw;
    margin: 0 auto;
}


/*Esto nos permite llamar las imagenes que queremos que salgan en el carrusel*/

.panel-1 {
    background: url('../img/expertos.jpg');
}

.panel-2 {
    background: url('../img/diseños.png');
}

.panel-3 {
    background: url('../img/estructuras.jpg');
}

.panel-4 {
    background: url("../img/modelado.png");
}

.panel-5 {
    background: url('../img/maquetado.jpg');
}

.panel-6 {
    background: url('../img/img1.jpg');
}

.panel-7 {
    background: url('../img/img2.jpg');
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600vh;
    height: 55vh;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: flex 0.7s ease-in;
    top: 60px;
}

.panel-5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600vh;
    height: 55vh;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}